---
import Tag from './Tag.astro';

export interface Props {
	role: string;
    company: string
	body: string;
	logo: string;
    startDate: string;
    endDate?: string
    skills?: string[];
}

const { role, company, body, logo, startDate, endDate = "today", skills=[] } = Astro.props;
---

<li class="flex flex-col py-5 md:flex-row">
	<div class="w-48 py-2 md:py-0 md:pr-10 md:flex md:flex-col">
        <div><img src={logo} /></div>
    </div>
    <div class="flex-1 container">
        <h2 class="mb-2 text-xl md:text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            <span>{role}</span>
        </h2>
        <div class="p-0.5 align-bottom text-sm">
            <span>{startDate} - {endDate}</span>
        </div>
        <p class="font-normal text-gray-700 dark:text-gray-400">
            {body}
        </p>
        <div class="pt-2">
            {skills.map((skill) => (
                <Tag tag={skill}/>
            ))}
        </div>
    </div>
    
</li> 