---
import Tag from './Tag.astro';

export interface Props {
	title: string;
	description: string;
	href: string;
    image?: string;
    tags?: string[];
}

const { href, title, description, image, tags = []} = Astro.props;
---

<a href={href} class="rounded overflow-hidden shadow-lg my-10 mx-2 md:w-80 hover:bg-sky-100">
    <div class="h-52 bg-cover" style={`background-image: url('${image}')`} />
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">{title}</div>
      <p class="text-gray-700 text-base">
        {description}
      </p>
    </div>
    <div class="px-6 pt-4 pb-2">
      {tags.map(tag => (
        <Tag tag={tag}/>
      ))}
    </div>
</a>

