---
export interface Props {
	title: string;
	description: string;
	href: string;
    image?: string;
    tags?: string[];
}

const { href, title, description, image, tags = []} = Astro.props;
---

<a href={href} class="rounded overflow-hidden shadow-lg my-10 mx-2 md:w-80">
    <div class="h-52 bg-cover" style={`background-image: url('${image}')`} />
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">{title}</div>
      <p class="text-gray-700 text-base">
        {description}
      </p>
    </div>
    <div class="px-6 pt-4 pb-2">
      {tags.map(tag => (
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{tag}</span>
      ))}
    </div>
</a>

